---
# no deb anymore
#- name: Install open jdk
#  apt:
#    name={{item}}
#    state=latest
#    update_cache=true
#  with_items:
#  - openjdk-8-jdk
#   - openjdk-14-jdk
#   - openjdk-14-jdk-devel

- name: "Extract {{jdk_src}} tgz archive"
  unarchive:
    src: "{{jdk_src}}"
    dest: "{{dev_dir}}"
    remote_src: yes
    owner: "{{ devel_owner }}"
    group: "{{ devel_group }}"

- name: link jdk
  file:
    src: "{{dev_dir}}/jdk-{{jdk_version}}"
    dest: "{{dev_dir}}/java"
    state: link
    owner: "{{ devel_owner }}"
    group: "{{ devel_group }}"

- name: "/etc/profile.d contrib for jdk"
  template:
    src: "./templates/etc/profile.d/jdk.sh"
    dest: "/etc/profile.d/jdk.sh"
    mode: 0755
    owner: "{{ devel_owner }}"
    group: "{{ devel_group }}"
